
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

:root {
    --color-primario: #dbd8d8;
    --color-secundario: #508C9B;
    --color-terciario: #134B70;
    --color-cuaternario: #201E43;

    --font-inter: "Inter", sans-serif;
}

body {
    background-color: var(--color-primario);
    color: var(--color-cuaternario);
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header {
    padding: 3% 0% 2% 2%;
}

.header__imagen {
    width: 10%;
}
    
.contenido {
    display: flex;
    justify-content: space-around;
}

.contenido__lectura {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido__imput__texto {
    width: 85%;
    border-color: transparent;
    outline: none;
    background: transparent;
    font-size: 2rem;
    color: var(--color-cuaternario);
    resize: none;
}

.contenido__acciones {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contenido__lectura__aviso {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.boton {
    background: var(--color-secundario);
    color: var(--color-cuaternario);
    font-size: 1rem;
    font-weight: 600;
    width: 43%;
    padding: 1.3rem 0;
    border-radius: 1.5rem;
    border: 1px solid var(--color-terciario);
}
.boton:hover{
    background-color: #a0a0a0;
}

.boton--secundary {
    background: #9bcbe0;
    color: #183D3D;
}

.respuesta {
    background: #EAE4DD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 4% 0% 3%;
    border-radius: 2rem;
    width: 30%;
    box-shadow: 0px 0px 4px 1px;
}

.respuesta__mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 400;
}

@media (max-width:1050px) {
    .contenido {
        flex-direction: column;
        margin-left: 11%;
    }
    .contenido__lectura {

    }
    .imagen__muñeco{
        display: none;
    }
    .respuesta {
        width: 87%;
        margin-top: 1rem;
    }
    .header__imagen{
        width: 13%;
    }
}

@media (max-width: 500px) {
    .container {
        gap: 10px;
    }
    .contenido__imput__texto {
        width: ;
    }
    
    .boton {
        width: 90%;

    }
    .header__imagen{
        width: 30%;
    }
    .respuesta {
    
        width: 91%;
        margin-top: 30px;
    }
    .respuesta__mensaje{
        align-items: center;
    }
    .header__imagen{
        width: 15%;
    }
    }

